body {
background-color: #b4b4b4;
}

h1 {

font-family: "Comic Sans MS";
font-size: 30px;
color: #3c3c3c;
text-align: center;
}

h3 {
font-family: "Comic Sans MS";
font-size: 30px;
color: #3c3c3c;
text-align: center;
}

p {
background-color: #b4b4b4;  
font-family: "Comic Sans MS";
font-size: 20px;
color: #3c3c3c;
}
